.content-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.left-container {
    display: flex;
    flex: 1 0 200px;
    background-color: papayawhip;
}

.board {
  display: flex;
  flex: 1 0 500px;
  background-color: mistyrose
}
